@model AleShopWeb2.Models.usuario
@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm("Login", "Cuenta", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
{
    <section class="vh-100" style="background-color: #212529; margin-top:20px">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                     alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">AleShop</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia Sesion con tu cuenta</h5>

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-outline mb-4">
                                        @Html.TextBoxFor(model => model.email, new { @class = "form-control form-control-lg" })
                                        @Html.LabelFor(model => model.email, new { @class = "form-label" })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "invalid-feedback" })
                                    </div>

                                    <div class="form-outline mb-4">
                                        @Html.PasswordFor(model => model.contrasenia, new { @class = "form-control form-control-lg" })
                                        @Html.LabelFor(model => model.contrasenia, new { @class = "form-label" })
                                        @Html.ValidationMessageFor(model => model.contrasenia, "", new { @class = "invalid-feedback" })
                                    </div>
                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Iniciar Sesion</button>
                                    </div>               
                                    <p class="mb-5 pb-lg-2" style="color: #393f81;">
                                        Aun no tenes cuenta? <a href="@Url.Action("RegistroVista","Cuenta")"
                                                                  style="color: #393f81;">Registrate aca!</a>
                                    </p>                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
